
<div class="container col-md-4 mt-5">
  <p>
    Please provide the necessary information to schedule a car repair appointment.
  </p>
  <button onclick="autofill()" class="btn btn-danger">Autofill</button>
  <!--
  first name, last name, phone number, year, make, model, repair required and preferred appointment date/time.
  -->
  <form action="" method="post">
    <div class="form-group">
      <label for="firstnameInput">First Name</label>
      <input type="text" name="firstname" class="form-control" id="firstnameInput" placeholder="Johnny">
    </div>
    <div class="form-group">
      <label for="lastnameInput">Last Name</label>
      <input type="text" name="lastname" class="form-control" id="lastnameInput" placeholder="Appleseed">
    </div>
    <div class="form-group">
      <label for="phoneInput">Phone Number</label>
      <input type="text" name="phone" class="form-control" id="phoneInput" placeholder="XXX-XXX-XXXX">
    </div>
    <div class="form-group">
      <label for="yearInput">Year</label>
      <input type="text" name="year" class="form-control" id="yearInput" placeholder="XXXX">
    </div>
    <div class="form-group">
      <label for="makeInput">Make</label>
      <input type="text" name="make" class="form-control" id="makeInput" placeholder="Subaru">
    </div>
    <div class="form-group">
      <label for="modelInput">Model</label>
      <input type="text" name="model" class="form-control" id="modelInput" placeholder="Outback">
    </div>
    <div class="form-group">
      <label for="repairInput">Repair Required</label>
      <input type="text" name="repair" class="form-control" id="repairInput" placeholder="Broken CV Joint">
    </div>
    <div class="form-group">
      <label for="dateInput">Preferred Appointment Date</label>
      <input type="text" name="date" class="form-control" id="dateInput" placeholder="Tuesday">
    </div>
    <div class="form-group">
      <label for="timeInput">Preferred Appointment Time</label>
      <input type="text" name="time" class="form-control" id="timeInput" placeholder="16:00">
    </div>
    <input type="submit" value="Create" class="btn btn-success"></input>
  </form>
</div>

<script> 
  function autofill(){
    $('#firstnameInput').val("Johnny");
    $('#lastnameInput').val("Appleseed");
    $('#phoneInput').val("777-222-1111");
    $('#yearInput').val("2018");
    $('#makeInput').val("Subaru");
    $('#modelInput').val("Outback");
    $('#repairInput').val("Cracked Windshield");
    $('#dateInput').val("Monday");
    $('#timeInput').val("10:00");
  }
</script>
